Tools/HalErrorDashBoard_New/HallErrorDeshboard/HallErrorDeshboard/Service References/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PopulateTemplateView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="templateScheme" type="tns:templateScheme" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="templateScheme">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="operation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PopulateTemplateViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PopulateTemplateViewResult" type="tns:ResponseTemplate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseTemplate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="html" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="controlIDs" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="operationScheme" type="tns:operationScheme" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="operationScheme">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PopulateTemplateViewSoapIn">
    <wsdl:part name="parameters" element="tns:PopulateTemplateView" />
  </wsdl:message>
  <wsdl:message name="PopulateTemplateViewSoapOut">
    <wsdl:part name="parameters" element="tns:PopulateTemplateViewResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="PopulateTemplateView">
      <wsdl:input message="tns:PopulateTemplateViewSoapIn" />
      <wsdl:output message="tns:PopulateTemplateViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input message="tns:UpdateDataSoapIn" />
      <wsdl:output message="tns:UpdateDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateTemplateView">
      <soap:operation soapAction="http://tempuri.org/PopulateTemplateView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateTemplateView">
      <soap12:operation soapAction="http://tempuri.org/PopulateTemplateView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap12:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:8529/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:8529/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>